/* Full-Screen Background Video Container */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Full page styling */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
}

/* Sidebar styling */
.sidebar {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

/* Clock styling inside the sidebar */
#live-clock .date {
    font-size: 1.5em;
    font-weight: 300;
    color: #d3d3d3;
    margin-bottom: 10px;
}

#live-clock .time {
    font-size: 3em;
    font-weight: 500;
}

/* Weather Widget Styling */
.weather-widget {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    font-size: 1.2em;
    z-index: 2;
}


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}